
nav{
    background-color:rgb(36,13,13);
    text-align: center;
  
    padding:10px; 
    height:50px;
    justify-content: center;
    
    
   

}
*{
    box-sizing: border-box;
}
nav a{
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    color:aliceblue
}
a:hover{
    color:aqua
}
.first{
    color:rgb(4, 251, 251);
    position:absolute;
    right:10px;
    border:2.5px solid rgb(4, 197, 250);
    border-radius: 20px;
    margin:-25px 10px 10px 10px;
    padding:8px;
    word-spacing: 2px;
}
.first:hover{
    background-color:white;
}
.second{
    border:2px solid;
    padding:4px;
    border-radius: 10px;
    background-color: bisque;
    width:1000px;
    margin-left: 250px;
}
h2{
    color:blue
}
image{
    border:2px solid black;
    border-radius:10px;
    margin:px 0px 2px 240px;
    
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 2px none black;
    border-radius: 10px;
    
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }